<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/static/stratgame/e.css">
        <script src="/static/matter.min.js"></script>
        <script src="/static/stratgame/data.js"></script>
        <script src="/static/stratgame/keys.js"></script>
        <title>landlord</title>
    </head>
    <body>
        <canvas id="canv" style="width: 100%; height:100%; position:absolute; top:0;left:0;"></canvas>
        <script src="/static/stratgame/classes.js"></script>
        <script src="/static/stratgame/main.js"></script>
    </body>
</html>