#canvas {
	background-color:  skyblue;
	position: absolute;
	left: 0;
	top: 0;
}

.homeDiv {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url('/static/zw4/gltf/gui/bg.png');
	background-size: cover;
	background-position:center;
}

.homeDivInner {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

#pauseDiv {display: none;}

#nameBox {
	font-family: "Open Sans";
	width: 40%;
	font-size: 2rem;
}
#startBtn {
	font-family: "Teko";
	font-size: 3rem;
	font-weight: bold;
	background-color: #ff6100;
	color: white;
	border: none;
	position: absolute;
	width: 30%;
	height: 20%;
	left: 35%;
	top: 45%;
}
#helpBtn {
	position: absolute;
	top: 65%;
	left: 35%;
	width: 30%;
	font-family: "Teko";
	background-color: grey;
	color: white;
	transition-duration: 0.5s;
	padding: 0.5% 1%;
	font-size: 2rem;
}
#helpBtn:hover {
	background-color: skyblue;
	padding: 1% 2%;
}
#logoimg {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 30%;
}

#bannerimg {
	position: absolute;
	width: 60%;
	left: 20%;
}

#helpDiv {
	background-color: black;
	overflow: scroll;
	overflow-y: scroll;
	position: absolute;
	left: 35%;
	top: 75%;
	width: 30%;
	height: 20%;
}

#changelog {
	position: absolute;
	width: 24%;
	height: 40%;
	background-color: #00000088;
	left: 67%;
	top: 45%;
	border: 3px solid #ff6100;
}

h3 {
	font-family: "Teko";
	color: #ff6100;
	font-size: 2rem;
	margin-bottom: 0;
	padding-bottom: 0; /*idk man things are being wierd in the changelog */
	margin-top: 1rem;
}

h1 {
	font-family: "Open Sans";
	font-size: 3rem;
}

/* since we did margin: 0 for *, this class allows us to override that so text looks better. */
.add-margin-left {
	margin-left: 0.5rem;
}

p, strong {
	font-family: "Open Sans";
	font-size: 1rem;
	color: white;
}
#volumeButton {
    position: absolute;
    left: 90%;
    top: 85%;
}

#upgradeDiv {
	position: absolute;
	left: 65%;
	top: 85%;
	border: 2px royalblue;
	background-color: #11FF1199;
	padding: 1rem;
}

#upgradeMenu {
	position: absolute;
	background-color: lightseagreen;
	width: 75%;
	height: 75%;
	left: 12.5%;
	top: 12.5%;
	padding: 1rem;
}

#upgradeList {
	overflow: scroll;
	height: 50%;
	border: 2px crimson;
}

#deadDiv {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	top: 0%;
	background-color: #FF3333AA;
	display: none;
}

#deadMsg {
	color: white;
	position: absolute;
	top: 30%;
	width: 100%;
}